@import '@/styles/mixins.scss';

:root {
  --ff: 'Roboto', sans-serif;
  --fs-normal: 16px;
  --fs-large: 24px;
  --fw-normal: 400;
  --fw-bold: 700;

  --primary: #007bff;
  --secondary: #001f3f;
  --bg-light: #f8f9fa;
  --txt-w: #fff;

  --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --nav-height: 108px;
  --default-padding: 20px 40px;
}

body {
  font-family: var(--ff);
  font-size: var(--fs-normal);
  color: var(--txt-w);
  background: linear-gradient(to bottom, var(--secondary), var(--bg-light));
}

.header-footer {
  color: var(--txt-w);
  padding: var(--default-padding);
  box-shadow: var(--shadow);
}

.section {
  height: calc(100vh - var(--nav-height));
  padding: var(--default-padding);
  padding-top: var(--nav-height);
}

.wix-madefor {
  font-family: 'Wix Madefor Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-normal);
  font-style: normal;
}
