.about {
  &__title {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 2rem;
    text-align: center;
    color: var(--txt-gray);
  }

  &__text-container {
    max-width: 80%;
    background: var(--shade-blue);
    margin-left: -40px;
    padding: 60px 40px 20px;
  }

  &__text {
    max-width: 84.5%;
    font-size: var(--fs-large);
    line-height: 5.5rem;
  }
}
