@import '@/styles/mixins.scss';

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  @include flex-center-space-between;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--txt-w);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--primary);
  }
}

.logo {
  height: 100%;
}

.logo-img {
  width: 24px;
  object-fit: contain;

  &:hover {
    cursor: pointer;
  }
}
